* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

body {
    background-color: #202A44;
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.sketchConteiner {
    border: 2px solid whitesmoke;
    width: 400px;
    height: 400px;
    display: grid;
    

}

.setting {
    display: flex;
    flex-direction: column;
}

#gridSize {
    cursor: pointer;
}

#color {
   width: 100%;
   border: none;
   cursor: pointer;
   background-color: #202A44;
}

.defoltColor {
    display: flex;
    align-items: center;
}

.palettConteiner {
    display: flex;
    flex-direction: column;
    max-width: 130px;
}

.palettConteiner div {
    display: flex;
}

.palett {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 130px;
}

.palettElement{
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    cursor: pointer;
}

.palettAddColor,
.palletRemoveColor {
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    cursor: pointer;
    color: #202A44;
}

.clear {
    color: #202A44;
    border: 1px solid whitesmoke;
}

