* {
    margin: 0;
    padding: 0;
}
button {
    height: 25px;
    width: 50px;
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.setting {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.sketchConteiner {
    border: 2px solid black;
    width: 400px;
    height: 400px;
    display: grid;
    

}

.colorPicer {
    position: absolute;
    height: 70px;
    width: 70px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.colorPicer input {
    position: relative;
    left: -5px;
    top: -5px;
    margin: 0;
    padding: 0;
    border: none;
    height: 85px;
    width: 85px;
}

.colorPicerConteiner {
    display: flex;
    align-items: center;
    height: 80px;
    width: 80px;
}

.colorControle div{
    display: flex;
    flex-direction: column;
}

.buttons {
    display: grid;
    grid-template-columns: auto 1fr;
}